/* sidebar */

.sidebar{
    background-color:#ecedf5;
    display:block;
    position:fixed;
    top:0px;
    left:0px;
    width:250px;
    height:100vh;
    display:flex;
    flex-direction:column;
  }
  
  /* #select-niche{
    height: 52px;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.73;
    color: #ffffff;
    background-color: #5d6b9f;
    width:100%;
    box-sizing:border-box;
    padding-left:10px;
    outline:none;
    border:none;
    cursor:pointer;
  } */
  
  /* #sidebar__Select{
    height: 52px;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.73;
    color: #ffffff;
    background-color: #9da9d5;
    width:100%;
    box-sizing:border-box;
    padding-left:10px;
    outline:none;
    border:none;
    cursor:pointer;
  } */