#sidebar__Select{
    height: 52px;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.73;
    color: #ffffff;
    width:100%;
    box-sizing:border-box;
    padding-left:10px;
    outline:none;
    border:none;
    cursor:pointer;
  }

  .sidebar__Select--dark {
      background-color:#5d6b9f;
  }
  .sidebar__Select--light{
    background-color: #9da9d5;
  }
