/* header */

.header{
    background-color:#f8f9fa;
    position:fixed;
    left:250px;
    top:0px;
    width:100%;
    height:130px;
    
    display:flex;
    flex-direction:column;
    z-index:4;
    
  }
  
  .header__raw1{
    background-color:transparent;
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:75px;
    margin-right:250px;
  
  }
  
  /* header_raw1 left-side  */
  
  .header__raw1-left{
    padding-left:50px;
  }
  

  .seperate{
    background-color: lightgray;
    margin: 3px 9px;
    padding: 3px 0.5px;
  }
  
  
  
  
  /* header__raw1-right */
  
  .header__raw1-right{
    
    padding-right:100px;
    display: flex;
    flex:2;
    justify-content: flex-end;
    
  }
  .nav{
    flex:1;
    max-width:500px;
    display:flex;
    border:1px solid rgb(133, 133, 133,0.5);
    border-radius:5px;
  }
  #search-input{
    flex:1;
    width:100%;
    height:40px;
    outline:none;
    border:none;
    box-sizing:border-box;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 8px;
  }
  
  #search-btn{
    height:40px;
    width:40px;
    outline:none;
    border:none;
    cursor:pointer;
    box-sizing:border-box;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .header__add_to_invent-btn{
    
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #61d5df;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    padding: 0 14px;
    outline: none;
    cursor: pointer;
    margin: 0px 8px;
  }
  
  .header__help-btn{
    display:block;
    height:40px;
    width:40px;
    box-sizing: border-box;
    background-color:transparent;
    border:none;
    cursor:pointer;
  }
  
  /* header raw2 */
  
  .header__raw2{
    display:flex;
    justify-content: flex-start;
    align-items:center;
    background-color:#ffffff;
    height:55px;
    
  
    
  }
  
  #sort{
    
    font-size:20px;
    margin:0px 5px;
    outline: none;
    cursor:pointer;
    border:none;
    color:rgb(165, 164, 164,0.8);
  }
  
  .header__sortby{
    font-size:20px;
    margin:0px 5px;
    margin-left:50px;
    color:rgb(165, 164, 164,0.8);
    
  }