@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

*{
  font-family: 'Poppins', sans-serif;
}



/* main */

.main{
  margin-left:250px;
  margin-top:130px;
  background-color:#f8f9fa;
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(380px,1fr));
  grid-auto-rows: 420px;
  grid-gap:10px;
  padding:10px 15px;
  max-height: fit-content;

}

.product{
  
  
  width: 100%;
  max-height: 420px;
  border: solid 1px rgba(112, 112, 112, 0.12);
  background-color: #ffffff;
  margin: 0;
  border-radius: 8px;
  cursor: pointer;
  box-sizing:border-box;
  padding:2px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
   
}

.product:hover{
  border: solid 3px #58c3cc;
  padding:0px;
}

/* product_photo */

.product__photo{

  min-height:280px;
  max-height:280px;
  width:100%;
  text-align:center;
  
}

.product__photo img{
  width:100%;
  object-fit: contain;
  max-height:280px;
  padding:10px;
  box-sizing:border-box;
}

/* product__title */

.product__title{

  padding: 20px 20px 14px 20px;
  height: fit-content;
  text-transform: uppercase;
  font-weight: bold;
  overflow: hidden;
  font-family: "Gilroy";
  font-size: 14px;
  font-weight: 600;
  color: #3b3b3b;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;

}
/* product category */

.product__category{

  padding: 0px 20px 10px 20px;
  font-family: "Gilroy";
  font-size: 17px;
  color: #3b3b3b;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product__category--hilighted{
  color:#58c3cc;
  text-decoration: underline;
}

/* product price */
.product__price{
  max-height:30px;
  padding: 10px 20px 19px 20px;
  font-family: "Gilroy";
  font-size: 22px;
  color: #3b3b3b;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  border-top: 1px solid rgba(197, 197, 197, 0.527);
}



@media only screen and (max-width:959px){
.sidebar{
  display:none;
}
.header{
  left:0px;
  
}

.header__raw1{
  margin-right:0px;
}

.main{
  margin-left:0px;
}
}

